<header class="main-header hidden-print">

  <!--网站logo, 点击可以跳转回主页-->
  <a class="logo" href="/">Smart Ship Data</a>

  <nav class="navbar navbar-static-top">

    <a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>

    <!-- Navbar Right Menu-->
    <div class="navbar-custom-menu">
      <ul class="top-nav">

        <li class="dropdown">
          <strong style="color: white;">{{isSignInMessage}}</strong>
        </li>

        <!-- User Menu-->
        <li class="dropdown">
          <!--<a class="dropdown-toggle" target="_self" href="http://z.cn:8080/page-login.html">-->
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user fa-lg"></i>
          </a>
          <ul class="dropdown-menu settings-menu">
            <li><a href="http://z.cn:8080/page-login.html"><i class="fa fa-sign-in fa-lg"></i> Login In</a></li>
            <li><a href="http://z.cn:8080/user/logout"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </nav>
</header>

