<!-- Side-Nav-->
<aside class="main-sidebar hidden-print">
	<section class="sidebar">
		<!--开发者简介-->
		<div class="user-panel">
			<!--头像-->
			<div class="pull-left image">
				<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
					 alt="User Image">
			</div>

			<!--名字与简介-->
			<div class="pull-left info">
				<p>Developer</p>
				<p class="designation">Front-Backend Developer</p>
			</div>
		</div>

    <!-- Sidebar Menu-->
    <ul class="sidebar-menu">

		<!--1. 主页-->
		<li class="active">
			<a [routerLink]="['/home']">
				<i class="fa fa-dashboard"></i>
				<span>Dashboard</span>
			</a>
      	</li>

		<!--2. 每条船的基本信息和状态-->
		<li class="treeview">
			<a href="">
				<i class="fa fa-th-list"></i>
				<span>Ship Status</span>
				<i class="fa fa-angle-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a [routerLink]="['/ship']" [queryParams]="{shipNumber: '01'}"><i class="fa fa-circle-o"></i> Ship Number 1</a></li>
				<li><a [routerLink]="['/ship']" [queryParams]="{shipNumber: '02'}"><i class="fa fa-circle-o"></i> Ship Number 2</a></li>
				<li><a [routerLink]="['/ship']" [queryParams]="{shipNumber: '03'}"><i class="fa fa-circle-o"></i> Ship Number 3</a></li>
				<li><a [routerLink]="['/ship']" [queryParams]="{shipNumber: '04'}"><i class="fa fa-circle-o"></i> Ship Number 4</a></li>
				<li><a [routerLink]="['/ship']" [queryParams]="{shipNumber: '05'}"><i class="fa fa-circle-o"></i> Ship Number 5</a></li>
				<li><a [routerLink]="['/ship']" [queryParams]="{shipNumber: '06'}"><i class="fa fa-circle-o"></i> Ship Number 6</a></li>
			</ul>
     	</li>

		<!--3. 监控数据的展示-->
		<li>
			<a [routerLink]="['/monitor']">
				<i class="fa fa-laptop"></i>
				<span>Monitor Data</span>
			</a>
		</li>

		<!--4. 上传txt监控数据文件-->
		<li class="treeview">
			<a [routerLink]="['/upload']">
				<i class="fa fa-file-text"></i>
				<span>Upload Files</span>
			</a>
		</li>

		<!--5. 用户管理-->
		<li class="treeview">
			<a [routerLink]="['/user']">
				<i class="fa fa-th-list"></i>
				<span>User Management</span>
			</a>
		</li>

	</ul>
  </section>
</aside>
